.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .top{
    display: flex;
  }
  
  .imgContainer{
    width: 90%;
    height: 400px;
    position: relative;
  }
  
  .img{
    object-fit: cover;
  }
  
  .date{
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
  }
  
  .title{
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .desc{
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
  }
  
  .link{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.01em;
    background-color: var(--clr-light);
    color: var(--clr-btn);
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s;
  }

  .link:hover {
    transform: translateY(-3px);
  }